.required {
    color: red;
}

.ck-editor__editable {
    min-height: 200px;
}

#myModel {
    background: rgba(3, 19, 48, 0.3) !important;
}

.actionIcons {
    display: flex !important;
}
.actionIcons a {
    margin-right: 5px !important;
}
.actionIcons button {
    margin-right: 5px !important;
}

table#datatable-crud {
    text-align: center;
}
select.form-control {
    color: #495057;
}

.multiselect-container > li > a > label {
    padding: 4px 20px 3px 20px;
}

.social-links {
    font-size: 20px;
    margin-right: 5px;
}

/* faq */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
/* faq */
.bot {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.spacer.blog .thumbnail img {width: 100%; height: 130px; object-fit: cover;}
.spacer .area-converter{
    display: flex;
    width: 100%;
    margin: auto;
}
.spacer .area-converter .form{
    margin: 0 auto;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 10px 25px 30px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.spacer .area-converter .form .page-title{
    font-weight: bold;
    margin-bottom: 20px;
}
@media (max-width: 768px){
    .spacer.blog .thumbnail img{
        height: auto;
    }
}
.spacer .page-title{margin-bottom: 2rem; font-weight: 600;}
.spacer .contact{display: flex; align-items: center; justify-content: center;}
.btn-close{margin-bottom: 0;}
.login-form{
    background: #eeeeee;
    display: flex;
    align-items: center;
    min-height: 90vh;
    background: url("../user/images/login_user.jpg");
    background-size: cover; 
    /* margin-top: 25px; */
}
.login-container{
    width: 450px;
    background: #fff;
    height: max-content;
    box-shadow: 0 0 4px rgb(0 0 0 / 5%);
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 40px!important;
    margin: 70px auto;
}
.login-form .login-container .card-header .h2{
    position: relative;
    margin-top: 0;
}
.login-form .login-container .card-header .h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100px;
    background: #4491d3;
}
.login-form .login-container .card-body .input-box {
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.login-form .login-container .card-body .input-box i {
    position: absolute;
    color: #4491d3;
    font-size: 17px;
    margin-top: 6px;
}
.login-form .login-container .card-body .input-box .flex-fill {
    margin: 10px 0;
}
.login-form .login-container .card-body .input-box input {
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.login-form .login-container .card-body .input-box input:focus, .login-form .login-container .card-body .input-box input:valid {
    border-color: #0d6efd;
    box-shadow: initial;
}
.login-form .login-container .card-body .form-checkbox .bold{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 700;
    color: #4491d3;
    text-decoration: none;
}
.login-form .login-container .card-body .register.form-checkbox .bold:hover{
    text-decoration: underline;
}
.login-form .login-container .card-body .btn-login{
    background: #4491d3;
    color: #fff;
    width: 100%;
    font-weight: 700;
    border-color: #4491d3;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}
.login-form .login-container .card-body .btn-login:hover{
    background: #2976b9;
    border-color: #2976b9;
}
.login-form .login-container .card-body .register{
    text-align: center;
}
.login-form .login-container .card-body .register .bold{
    font-size: 14px;
    font-weight: 700;
    color: #4491d3;
    text-decoration: none;
}
.login-form .login-container .card-body .register .bold:hover{
    text-decoration: underline;
}
@media (max-width: 1200px){
    .login-container{
        margin-top: 120px;
    }
}
.login-container .card-header h2{
    text-align: center; margin-top: 0;
}
.property-info .currency-symbol{font-size: 28px;color: #72b70f;}
.enquiry .textarea{width: 100%;}
.agents .row{margin-bottom:40px; display: flex; align-items: center;}
@media (max-width: 768px){
    .agents .row{
    display: block;
    }
    .agent{
        flex-direction: column;
    }
    .spacer .contact{display: block;}
}
.agents .row h4{font-weight: 600px;}
@media (max-width: 768px){
    .agents .row h4{
        margin-bottom: 8px;
    text-align: center;
    }
    .agents .row p{
        text-align: center;
    }
    .agents .row .img-responsive{
        /* width: 95px;
        height: 95px; */
        margin:auto;
        margin-bottom: 16px;
    }
    .agents .agent_contact{
        text-align: center;
    }
    .agents .row .contact{
        text-align: center;
    }
}
.agents .row .glyphicon{
    /* margin-bottom: 10px; */
    margin: 0 6px ;
}
.alert-success {
    color: #000000;
    background-color: #34994e;
    border-color: #d6e9c6;
}

#footer ul li a {
    color: #fff;
}
.footer {
    color: #fff;
}
input.footer-form.form-control{
    width: 100%;
}
.image-holder .img-responsive {
    height: 160px;
    object-fit: cover;
    width: 100%;
}
.footer .row #social_links a {
    color: white;
}
.footer .row #social_links a:hover{
    opacity: 0.5;
}

.bread {
    font-size: 18px;
}

.bread a {
    color: grey;
}

.banner_image img{
    width: 100%;
    height: 500px;
    /* margin-right: 2%; */
    object-fit: cover;
    /* margin-left: 2%; */
    /* border-radius: 30px; */
}
@media (max-width: 1200px){
    .banner_image img{
        margin-top: 90px;
    }
}

.top-header {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 1rem 0px;
    position: relative;

   /* justify-content: space-between;
    display: flex; */
    /* align-items: center;
    margin: 0 40px; */
}
.header ul li{ padding-left: 10px;}
.header ul li a{ font-size: 14px;font-weight: bold;font-family: din;text-transform: uppercase; }
.header ul li a:hover, .header ul li button:hover, 
.header ul li a:active, .header ul li button:active, 
.header ul li a:focus, .header ul li button:focus{text-decoration: none; background-color: #4491d3;color: #fff;}
.header .dropdown-menu li{padding: 0;}
.header .dropdown-menu li a{border-bottom: 1px solid #eeeeee;font-size: 12px!important;font-weight: bold;padding: 10px 20px;}

#footer .col-md-3{
    margin-bottom: 20px;
}

.footer-form{
    width: 100%;
}
/* #contact_us span{
    margin-bottom: 10%;
} */

.form-inline input{
    margin-bottom: 5%;
}

.form-inline button{
    width: 200px;
}
.search_bar{
    /* margin-bottom: -20rem; */
    border-radius: 30px;
}
.adjustSize{
    border-radius: 30px;
}
div#search_bar {
    border-radius: 25px;
}
.row text-lg-right guide{
    margin-left: -2%;

}
.guide{
    text-align: center;
}
.fa-filter:before {
    color: black
}

.inputSearch{
    display: flex;
    justify-content: center;
    text-align: center;
}
.contentNews{
    height: 300px;
}
.priceRange {
    text-align: center;
  }

.btn.btn-primary{
    /* width: 100px; */
    border-radius: 30px;
}
.btn.btn-primary.toggle-on, .btn.btn-primary.toggle-off{
    margin: 0;
    padding: 8px!important;
    line-height: 1!important;
}

.guide_button{
    width: 180px;
    max-width: 100%;
}

.pro_button{
    width: 200px;
    max-width: 100%;
}
.card_hover:hover{
    background-color: white;
    
}
.group:hover .group-hover\:text-white {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.app-wrapper .profile-img{
	border-radius: 50%;
   }
    .read-more-btn{
        border-radius: 5px!important;
        width: auto;
        padding: 5px 10px!important;
    }
    .news-title{
        margin-top: 0;
    }
    .news-blog{
        /* border-bottom: 2px solid #dbdbdb; */
        margin-bottom: 24px;
    }
    .filter-form{
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px; */
        border-radius: 10px; 
        border: 1px solid #eeeeee;
    }
    .destination .filter-form .modal-body,.destination .filter-form .modal-footer{
        padding: 15px!important;
    }
    .destination .filter-form .modal-footer{
        border-top: 2px solid #eeeeee;
        margin-top: 0;
    }
    .destination .filter-form .modal-footer button{
        margin-bottom: 0;
    }
    .destination .destination-details .carousel-item img{
        width: 100%;
        height: 350px;
        object-fit: cover; 
    }
    .destination .destination-details .text{
        font-size: 18px;
        margin-top: 16px;
    }
    .hot-properties-container{
        border-bottom: 2px solid #eeeeee;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        display: flex;
        padding-bottom: 10px;
        align-items: center;
    }
    .hot-properties .property-img, .hot-properties .property-details{
        display: inline-block;
    }
.dashboard .profile-container label{
    font-size: 14px;
}
.dashboard .read-more-btn{
    display: flex;
    margin-left: auto;
}
.dashboard-nav-list{
    font-size: 14px;
}
.dashboard-app, .dashboard-app p{
    font-size: 12px;
}
.dashboard .property-container .info~p{
    font-size: 14px;
}
img{
    object-fit: cover;
}
.news-container h1.heading-title{
    margin-bottom: 0;
}
h1.heading-title{
    font-size: 3.7rem;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative;
    display: inline-flex;
}
h1.heading-title::before {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    background: #4491d3;
    bottom: 0;
    left: 2px;
}
.inputSearch .search-input{
    position: relative;
}
.inputSearch .search-btn{
    border-radius: 0 5px 5px 0!important;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.agent{
    display: flex;
}
.agent .img-responsive{
    width: 60px;
    height: 60px;
    max-width: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.news{
    display: flex;
    flex-wrap: wrap;
}
.news .card{
    height: 100%;
    border: 1px solid #eeeeee;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.news .card .card-body h3{
    margin-top: 15px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}
.news .card .card-body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.news .card .card-body p{
    flex: 1;
}
.news .card .card-img-top img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.heading{
    text-align: center;
}